[[source]]
name = "pypi"
url = "http://pypi.douban.com/simple/"
verify_ssl = true

[dev-packages]

[packages]
django = "==2.2.3"
pillow = "*"
django-tinymce = "*"
gunicorn = {index = "https://pypi.douban.com/simple/", version = "*"}

[requires]
python_version = "3.6"
