{% extends 'base.html' %}
{% block body %}
<body style="background:#555 url('/static/images/technology.jpg') no-repeat left center fixed">
{% endblock body %}

{% block leftbox %}

    <div class="banner_leftbox">
        <div class="infos">
            <div class="newsview">
                <h2 class="intitle">您现在的位置是：<a href="/index">网站首页</a>&nbsp;&gt;&nbsp;<a href="#">{{ ban_post.title }}</a></h2>
                <div class="news_infos">
                    {{ ban_post.content|safe }}
                </div>
            </div>
        </div>
    </div>

{% endblock leftbox %}

{% block rightbox %}

{% endblock rightbox %}
