{% extends "base.html" %}
{% block leftbox %}
    <div class="leftbox">
        <div class="newblogs">
        <h2 class="hometitle">
            <span>
                {% for tag in tags %}
                    <a href="/jstt/bj/">{{ tag.name }}</a>
                {% endfor %}
            </span>{{ category.name }}
        </h2>
      <ul>
          {% for post in posts %}
              <li>
                  <h3 class="blogtitle"><a href="/post?id={{ post.id }}" target="_blank" >{{ post.title }}</a></h3>
                  <div class="bloginfo"><span class="blogpic"><a href="/post?id={{ post.id }}" title=""><img src="media/{{ post.pic }}"  /></a></span>
                    <p>{{ post.excerpt }}</p>
                  </div>
                  <div class="autor"><span class="lm f_l"><a href="/">王鹏飞个人博客</a></span><span class="dtime f_l">{{ post.create_time }}</span><span class="viewnum f_l">浏览（<a href="/">{{ post.read }}</a>）</span><span class="pingl f_l">评论（<a href="/">30</a>）</span><span class="f_r"><a href="/post?id={{ post.id }}" class="more">阅读原文>></a></span></div>
              </li>
          {% endfor %}
      </ul>
      <div class="pagelist"><a title="Total record">&nbsp;<b>142</b> </a>&nbsp;&nbsp;<a href="/jstt/index.html">首页</a>&nbsp;<a href="/jstt/index.html">上一页</a>&nbsp;<a href="/jstt/index.html">1</a>&nbsp;<b>2</b>&nbsp;<a href="/jstt/index_3.html">3</a>&nbsp;<a href="/jstt/index_4.html">4</a>&nbsp;<a href="/jstt/index_5.html">5</a>&nbsp;<a href="/jstt/index_6.html">6</a>&nbsp;<a href="/jstt/index_3.html">下一页</a>&nbsp;<a href="/jstt/index_6.html">尾页</a></div>
    </div>
    </div>
{% endblock leftbox %}