<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>王鹏飞个人博客</title>
    <link rel="Shortcut Icon" href="/static/images/f.ico" type="image/x-icon" />
	<link rel="stylesheet" type="text/css" href="/static/css/test.css">
	<script type="text/javascript" src= "/static/js/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="/static/js/jquery.mousewheel.js"></script>
	<script type="text/javascript">
		$(function(){
			var $screen = $('.pages_con');
			var $pages = $('.pages');
			var $len = $pages.length;
			var $h = $(window).height();
			var $points = $('.points li');
			var timer = null;

			var $nowscreen = 0;
			$pages.css({'height':$h});
			$pages.eq(0).addClass('moving');


			$points.click(function(){
				$nowscreen = $(this).index();
				$points.eq($nowscreen).addClass('active').siblings().removeClass('active');
				$screen.animate({'top':-$h*$nowscreen},300);
				$pages.eq($nowscreen).addClass('moving').siblings().removeClass('moving');
			});



			$(window).mousewheel(function(event,dat){
				clearTimeout(timer);
				timer = setTimeout(function(){

					if(dat===-1)
					{
						$nowscreen++;
					}
					else
					{
						$nowscreen--;
					}
					if($nowscreen<0)
					{
						$nowscreen=0;
					}

					if($nowscreen>$len-1)
					{
						$nowscreen=$len-1;
					}

					$screen.animate({'top':-$h*$nowscreen},300);
					$pages.eq($nowscreen).addClass('moving').siblings().removeClass('moving');

					$points.eq($nowscreen).addClass('active').siblings().removeClass('active');

					},200)

			})
		})

	</script>
</head>
<body>
	<div class="pages_con">

		<div class="pages page1">
			<div class="main_con">
				<div class="left_img"><img src="/static/images/knowledge/Python.png"></div>
				<div class="right_info">
				Python是目前公认的全球5大流行语言之一，从云计算、大数据到人工智能，Python无处不在，百度、阿里巴巴、腾讯等一系列大公司都在使用Python完成各种任务

				</div>
			</div>
		</div>

		<div class="pages page2">
			<div class="main_con">
				<div class="right_img"><img src="/static/images/knowledge/b.png"></div>
				<div class="left_info">
				计算机领域也细分为多个专业，多多少少对数据有一些要求。但是，既然计算机处理的是“信息”，那么“信息”的存取大概就是一个不可回避的问题。尤其是当前计算机的处理能力不断提高的情况下，因此，掌握数据库变得尤为重要。
				</div>
			</div>

		</div>

		<div class="pages page3">
			<div class="main_con">
				<div class="left_img"><img src="/static/images/knowledge/end.png"></div>
				<div class="right_info">
				    hello world作为所有编程语言的起始阶段，占据着无法改变的地位，所有中/英/法/德/美……版本的编程教材中，daohello world总是作为第一个记录于书本之中，所有的编程第一步就在于此了！经典之中的经典！hello world！
				</div>
			</div>
		</div>

		<div class="pages page4">
			<div class="main_con">
				<div class="left_img"><img src="/static/images/knowledge/smart.png"></div>
				<div class="right_info">
					当前，以人工智能为代表的新一代信息技术正在深刻影响着经济社会的发展进程。7月9日，2020世界人工智能大会云端峰会开幕式在上海世博中心召开，相信中国的未来，必将站在第一梯队上，引领世界的科技潮流，开创新世纪的先河。
				</div>
			</div>
		</div>

		<div class="pages page5">
			<div class="main_con">
				<div class="center_img"><img src="/static/images/knowledge/network.png"></div>
			</div>

		</div>
	</div>
	<ul class="points">
		<li class="active"></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</body>
</html>