{%load filters%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>王鹏飞个人博客</title>
    <meta name="keywords" content="个人博客,王鹏飞个人博客" />
    <meta name="description" content="王鹏飞个人博客" />
    <meta http-equiv="refresh" content="86400">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="Shortcut Icon" href="/static/images/f.ico" type="image/x-icon" />
    <link href="/static/css/base.css" rel="stylesheet">
    <link href="/static/css/index.css" rel="stylesheet">
    <link href="/static/css/m.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/file_list.css">
    <link href="https://cdn.bootcss.com/highlight.js/9.15.8/styles/github.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/markdown.css">
    <script src="/static/js/modernizr.js"></script>
    <script src="/static/js/jquery-2.1.1.min.js"></script>
    <script src="/static/js/jquery.cookie.js"></script>
    <script src="/static/js/banner.js"></script>
    {% block css_js %}
    {% endblock css_js %}
    <script>
        window.onload = function ()
        {
            var oH2 = document.getElementById("mnavh");
            var oUl = document.getElementById("starlist");
            oH2.onclick = function ()
            {
                var style = oUl.style;
                style.display = style.display == "block" ? "none" : "block";
                oH2.className = style.display == "block" ? "open" : ""
            }
        }
    </script>
</head>
{% block body %}
<body>
{% endblock body %}
<header>
    <div id="mnav">
        <div class="logo"><a href="/">王鹏飞个人博客</a></div>
        <h2 id="mnavh"><span class="navicon"></span></h2>
        <ul id="starlist">
            <li><a href="/">网站首页</a></li>
            <li class="dropdown">
                <a href="javascript:void(0)" style="margin: 0; padding: 0">资料下载</a>
                <div class="dropdown-content">
                    <a href="/files/web">Web前端</a>
                    <a href="/files/frame">后端框架</a>
                    <a href="/files/python">Python基础</a>
                    <a href="/files/net">网络编程及数据库</a>
                </div>
            </li>
            <li><a href="/knowledge">学无止境</a></li>
            <li><a href="javascript:void(0)">经验分享</a></li>
            <li><a href="javascript:void(0)">分类区</a></li>
            <li><a href="javascript:void(0)">关于我</a></li>
            <li><a href="javascript:void(0)">留言</a></li>
        </ul>
    </div>
</header>

<div class="line46"></div>
{% block blank %}{% endblock blank %}
<article>
    {% block pic %}{% endblock pic %}
    {% block leftbox %}{% endblock leftbox %}

    {% block rightbox %}
        <div class="rightbox">
            <div class="search">
          <form action="javascript:void(0)" method="post" name="searchform" id="searchform">
            <input name="keyboard" id="keyboard" class="input_text" value="请输入关键字" style="color: rgb(153, 153, 153);" onfocus="if(value=='请输入关键字'){this.style.color='#000';value=''}" onblur="if(value==''){this.style.color='#999';value='请输入关键字'}" type="text">
            <input name="show" value="title" type="hidden">
            <input name="tempid" value="1" type="hidden">
            <input name="tbname" value="news" type="hidden">
            <input name="Submit" class="input_submit" value="搜索" type="submit">
          </form>
        </div>
            {% block paihang %}
                <div class="paihang">
                    <h2 class="ab_title"><a href="/">本栏推荐</a></h2>
                    <ul>
                        <li><b><a href="/" target="_blank">住在手机里的朋友</a></b>
                            <p>对于刚毕业的学生来说，想学习建网站，掌握一技之长，最简单的入门无学...</p>
                        </li>
                    </ul>
                    <div class="ad"><img src="/static/images/banner02.jpg"></div>
                </div>
            {% endblock %}

        </div>
    {% endblock rightbox %}
</article>
<footer>
    <p>京ICP备20004714号-1</p>
    <p> CopyRight © 2020 <a href="/">王鹏飞个人博客</a> <a href="/">All Rights Reserved</a> </p>
</footer>
{% block markdown %}
{% endblock markdown %}
</body>
</html>