{%load filters%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>首页_王鹏飞个人博客 - 一个站在web前端设计之路的女技术员个人博客网站</title>
    <meta name="keywords" content="个人博客,王鹏飞个人博客" />
    <meta name="description" content="王鹏飞个人博客" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/base.css" rel="stylesheet">
    <link href="/static/css/index.css" rel="stylesheet">
    <link href="/static/css/m.css" rel="stylesheet">
    <script src="/static/js/modernizr.js"></script>
    <script src="/static/js/jquery-2.1.1.min.js"></script>
    <script src="/static/js/banner.js"></script>
    <script>
        window.onload = function ()
        {
            var oH2 = document.getElementById("mnavh");
            var oUl = document.getElementById("starlist");
            oH2.onclick = function ()
            {
                var style = oUl.style;
                style.display = style.display == "block" ? "none" : "block";
                oH2.className = style.display == "block" ? "open" : ""
            }
        }
    </script>
</head>
<body>
<header>
    <div id="mnav">
        <div class="logo"><a href="/">王鹏飞个人博客</a></div>
        <h2 id="mnavh"><span class="navicon"></span></h2>
        <ul id="starlist">
            <li><a href="/index">网站首页</a></li>
            <li><a href="share.html">资料下载</a></li>
            <li><a href="tag_list.html">学无止境</a></li>
            <li><a href="info.html">经验分享</a></li>
            <li><a href="shareinfo.html">分类区</a></li>
            <li><a href="/about">关于我</a></li>
            <li><a href="gbook.html">留言</a></li>
        </ul>
    </div>
</header>

<div class="line46"></div>
<article>
    <div class="pics">
        <ul>
            <li><i><a href="/a"><img src="/static/images/t02.jpg"></a></i><span>这组图片中的静物等非常的日系</span></li>
            <li><i><a href="/b"><img src="/static/images/t03.jpg"></a></i><span>这组图片中的静物等非常的日系</span></li>
            <li><i><a href="/c"><img src="/static/images/t04.jpg"></a></i><span>这组图片中的静物等非常的日系</span></li>
        </ul>
    </div>
    <div class="blank"></div>
    <div class="leftbox">
        <div class="tuijian">
            <h2 class="hometitle">
                <span>
                    {% for category in categorys %}
                            <a href="/index?cg={{ category.id }}">
                                {{ category.name }}
                            </a>
                    {% endfor %}
                    <a href="/index?cg=0">
                                首席推荐
                    </a>
                </span>特别推荐
            </h2>
            <ul>
                {% for recommend_post in recommend_posts|slice:3 %}
                    {{ lalala }}
                    <a href="/post?id={{ recommend_post.id }}">
                        <li>
                            <div class="tpic"><img src="/static/media/{{ recommend_post.pic }}"></div>
                            <b>{{ recommend_post.title }}</b><span>{{ recommend_post.excerpt }}</span><a href="/post?id={{ recommend_post.id }}" class="readmore">阅读原文</a>
                        </li>
                    </a>
                {% endfor %}
            </ul>
        </div>
        <div class="newblogs">
            <h2 class="hometitle">最新文章</h2>
            <ul id="list">
                {% for post in page %}
                    <li>
                        <h3 class="blogtitle"><a href="/" target="_blank" >{{ post.title }}</a></h3>
                        <div class="bloginfo"><span class="blogpic"><a href="/post?id={{ post.id }}" title=""><img src="/static/media/{{ post.pic }}" alt="文章页面图片"/></a></span>
                          <a href="/post?id={{ post.id }}"><p>{{ post.excerpt }}...</p></a>
                        </div>
                        <div class="autor"><span class="lm f_l"><a href="/">王鹏飞个人博客</a></span><span class="dtime f_l">{{ post.create_time }}</span><span class="viewnum f_l">浏览（<a href="/">{{ post.read }}</a>）</span><span class="pingl f_l">喜欢（<a href="/">{{ post.like }}</a>）</span><span class="f_r"><a href="/post?id={{ post.id }}" class="more">阅读原文</a></span></div>
                    </li>
                {% endfor %}
            </ul>
            <div class="page_id"
                 style="text-align: center;
                        font:normal 18px/16px 'Microsoft YaHei';
                        height: 18px">
            {# 判断是否有上一页 #}
            {% if page.has_previous %}
                <a href="/index{{ page.previous_page_number }}">&lt;上一页</a>
            {% endif %}

            {# 遍历显示页码的链接 #}
            {% for pindex in page.paginator.page_range %}
                {# 判断是否是当前页 #}
                {% if pindex == page.number %}
                    {{ pindex }}
                {% else %}
                    <a href="/index{{ pindex }}">{{ pindex }}</a>
                {% endif %}
            {% endfor %}

            {# 判断是否有下一页 #}
            {% if page.has_next %}
                <a href="/index{{ page.next_page_number }}">下一页&gt;</a>
            {% endif %}
        </div>
        </div>
    </div>
    <div class="rightbox">
    <div class="aboutme">
      <h2 class="ab_title">关于我</h2>
      <div class="avatar"><img src="/static/images/b04.jpg" /></div>
      <div class="ab_con">
        <p>网名：DanceSmile | 即步非烟</p>
        <p>职业：Web前端设计师、网页设计 </p>
        <p>籍贯：四川省―成都市</p>
        <p>邮箱：dancesmiling@qq.com</p>
      </div>
    </div>
    <div class="blank"></div>
    <div class="search">
      <form action="/e/search/index.php" method="post" name="searchform" id="searchform">
        <input name="keyboard" id="keyboard" class="input_text" value="请输入关键字" style="color: rgb(153, 153, 153);" onfocus="if(value=='请输入关键字'){this.style.color='#000';value=''}" onblur="if(value==''){this.style.color='#999';value='请输入关键字'}" type="text">
        <input name="show" value="title" type="hidden">
        <input name="tempid" value="1" type="hidden">
        <input name="tbname" value="news" type="hidden">
        <input name="Submit" class="input_submit" value="搜索" type="submit">
      </form>
    </div>
    <div class="paihang">
      <h2 class="ab_title"><a href="/">点击排行</a></h2>
      <ul>
          {% for recommend_post in Ranking_posts|slice:5 %}
              <li  style="height: 122px;overflow: hidden">
                  <b>
                      <a href="/post?id={{ recommend_post.id }}" target="_blank">{{ recommend_post.title }}</a>
                  </b>
                  <p>
                      <i><img src="/static/media/{{ recommend_post.pic }}"></i>
                      <p>{{ recommend_post.excerpt }}</p>
                  </p>
              </li>
          {% endfor %}
      </ul>
    </div>
    <div class="links">
      <h2 class="ab_title">友情链接</h2>
      <ul>
        <li><a href="/">杨青个人博客</a></li>
        <li><a href="/">杨青个人博客</a></li>
        <li><a href="/">杨青个人博客</a></li>
      </ul>
    </div>
    <div class="weixin">
      <h2 class="ab_title">微信关注</h2>
      <ul>
        <img src="/static/images/wx.jpg">
      </ul>
    </div>
  </div>
</article>
<footer>
  <p>Design by <a href="/">王鹏飞个人博客</a> <a href="/">蜀ICP备11002373号-1</a></p>
</footer>
</body>
</html>
