<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="/static/js/jquery-2.1.1.min.js"></script>
    <script>
        $(function () {
            text = $('#a').text();
            $('#a').click(function () {
                $.ajax({
                    "url": '/text2',
                    'type': 'get',
                    'data':{'mes': text},
                    'dataType':'json',
                    'async':false,
                }).success(function (data) {
                    text = data.mes;
                })
            })
        })

    </script>
</head>
<body>
    <a href="a">a</a>
    <a href="b">b</a>
</body>
</html>